<div class="banner flex">
  <div class="m-auto">
    <h1 class="banner-title">Pendium</h1>
    <div class="banner-subtitle">A concise collection of your games and friends</div>
  </div>
</div>

<h3 class="text-center"><%= @number_of_games_today %> games are being played today!</h3>

<% if user_signed_in? %>
  <%=
    render 'user_dashboard',
      upcoming_game_sessions: @upcoming_game_sessions,
      past_game_sessions:     @past_game_sessions
  %>
<% else %>
  <%= render 'landing_page' %>
<% end %>
