<h1>New Game</h1>

<%= label_tag 'q', 'Search' %>
<%= search_field_tag 'q', nil, data: { url: search_games_path, remote: true } %>

<div id="games">Search for a game to add</div>

<%= link_to 'Back', games_path %>
