<div class="banner-small flex">
  <div class="m-auto">
    <div class="banner-title">New Game</div>
  </div>
</div>
<div class="card card-floating text-center mx-auto min-h-300">
  <div class="card__body">
    <%= render 'search' %>
    <%= link_to 'Back', games_path %>
  </div>
</div>
