@import "variables";

.alert {
  position: relative;
  /* padding: $spacing $spacing * 1.25;
  margin-bottom: $spacing; */
  border: $base-border-width solid;
  border-radius: $base-border-radius;
}

.alert-dismissible {
  padding-right: $base-font-size + $spacing * 1.25 * 2;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing $spacing * 1.25;
  color: inherit;
}

.alert--epic {
  background-color: $color-text;
  border-color: $color-text;
  color: #fff;
}

.alert--discreet {
  border: 1px dashed;
  box-shadow: none;
}

.alert__icon {
  font-size: 225%;
  line-height: 1;
}


.alert--info {
  border-color: $color-info;
  color: $color-info;
}

.alert--info .alert--epic {
  color: #fff;
  background-color: $color-info;
}

.alert--success {
  border-color: $color-success;
  color: $color-success;
}

.alert--success .alert--epic {
  color: #fff;
  background-color: $color-success;
}

.alert--warning {
  border-color: $color-warning;
  color: $color-warning;
}

.alert--warning .alert--epic {
  color: #fff;
  background-color: $color-warning;
}

.alert--danger {
  border-color: $color-danger;
  color: $color-danger;
}

.alert--danger .alert--epic {
  color: #fff;
  background-color: $color-danger;
}