.alert {
  position: relative;
  padding: $spacing $spacing * 1.25;
  margin-bottom: $spacing;
  border: $base-border-width solid;
}

.alert-dismissible {
  padding-right: $base-font-size + $spacing * 1.25 * 2;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: $spacing $spacing * 1.25;
  color: inherit;
}

.alert__icon {
  font-size: 225%;
  line-height: 1;
}

.alert--info {
  border-color: $color-info;
  color: $color-info;
  background-color: rgba($color-info, 0.2);
}

.alert--success {
  border-color: $color-success;
  color: $color-success;
  background-color: rgba($color-success, 0.2);
}

.alert--warning {
  border-color: $color-warning;
  color: $color-warning;
  background-color: rgba($color-warning, 0.2);
}

.alert--danger {
  border-color: $color-danger;
  color: $color-danger;
  background-color: rgba($color-danger, 0.2);
}
