@import "variables";

.banner {
  background-color: $color-primary;
  min-height: 350px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.banner-small {
  background-color: $color-primary;
  min-height: 250px;
}

.banner-dark {
  background-color: $color-secondary;
  color: $color-grey-lightest;
}

.banner-title {
  text-align: center;
  font-size: $base-font-size * 2.5;
  font-weight: 600;
  margin-bottom: $spacing-small;
}

.banner-subtitle {
  text-align: center;
  font-size: $base-font-size * 1.25;
}