.bg-default,
.bg-transparent         { background-color: transparent !important; }

.bg-primary             { background-color: $color-primary !important; }

.bg-secondary           { background-color: $color-secondary !important; }

// .bg-tertiary            { background-color: $color-tertiary !important; }

// .bg-quaternary          { background-color: $color-quaternary !important; }

.bg-grey                { background-color: $color-grey !important; }
.bg-grey-light          { background-color: $color-grey-light !important; }
.bg-grey-lighter        { background-color: $color-grey-lighter !important; }
.bg-grey-lightest       { background-color: $color-grey-lightest !important; }
.bg-grey-dark           { background-color: $color-grey-dark !important; }
.bg-grey-darker         { background-color: $color-grey-darker !important; }
.bg-black               { background-color: #000 !important; }
.bg-white               { background-color: white !important; }

.bg-action              { background-color: $color-action !important; }
.bg-info                { background-color: $color-info !important; }
.bg-success             { background-color: $color-success !important; }
.bg-warning             { background-color: $color-warning !important; }
.bg-error,
.bg-danger              { background-color: $color-danger !important; }