.card {
  background: white;

  &__header {
    padding: $spacing;
    border-bottom: 1px solid $color-grey-lighter;
    margin: 0;
    font-weight: 600;
  }

  &__footer {
    padding: $spacing;
    border-top: 1px solid $color-grey-lighter;
    margin: 0;
  }

  &__title, &__title a {
    font-size: 1.15rem;
    font-weight: 600;
  }

  &__body {
    padding: $spacing;
  }

  &__icon {
    font-size: $spacing * 5 ;
    padding: 0 $spacing;
  }

  &-floating {
    z-index: 1;
    width: 60%;
    margin-top: -4rem;
  }

  @media screen and (max-width: 782px) {
    &-floating {
      width: 90%;
    }

    .grid--2 .card-floating {
      width: 100%;
      margin-top: unset;
    }
  }
}

.square {
  background-color: rgba(252,222,0, 0.5);
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: $spacing;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .card {
    align-items: center;
    background-color: $color-grey-lightest;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 0.5rem;
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.075);
    &.is-selectable {
      &:hover {
        transform: scale(1.1) rotate(-5deg);
        transition: transform 0.75s;
      }
    }
  }
  .card-disabled {
    background-color: $color-grey-lightest;
    color: $color-grey-light;
    cursor: not-allowed;
  }
}
