.overflow {

  &-hidden {
    overflow: hidden;
  }

  &-visible {
    overflow: visible;
  }

  &-x-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    max-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
  }

  &-y-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
}