.alert {
  position: relative;
  /* padding: var(--spacing) calc( var(--spacing) * 1.25);
  margin-bottom: var(--spacing); */
  border: var(--base-border-width) solid;
  border-radius: var(--base-border-radius);
}

.alert-dismissible {
  padding-right: var(--base-font-size) + calc( var(--spacing) * 1.25) * 2;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing) calc( var(--spacing) * 1.25);
  color: inherit;
}

.alert--epic {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: #fff;
}

.alert--discreet {
  border: 1px dashed;
  box-shadow: none;
}

.alert__icon {
  font-size: 225%;
  line-height: 1;
}


.alert--info {
  border-color: var(--color-info);
  color: var(--color-info);
}

.alert--info .alert--epic {
  color: #fff;
  background-color: var(--color-info);
}

.alert--success {
  border-color: var(--color-success);
  color: var(--color-success);
}

.alert--success .alert--epic {
  color: #fff;
  background-color: var(--color-success);
}

.alert--warning {
  border-color: var(--color-warning);
  color: var(--color-warning);
}

.alert--warning .alert--epic {
  color: #fff;
  background-color: var(--color-warning);
}

.alert--danger {
  border-color: var(--color-danger);
  color: var(--color-danger);
}

.alert--danger .alert--epic {
  color: #fff;
  background-color: var(--color-danger);
}