.navbar {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002;
}

.navbar-dark {
  background-color: var(--color-secondary);
  color: var(--color-off-white);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.nav ul li a, .nav .nav__item {
  display: inline-block;
  padding: var(--spacing-small);
  cursor: pointer;
  border-bottom: var(--nav-item-border) solid transparent;
  font-weight: bold;
  font-size: 90%;
  flex-grow: 1;
  text-align: center;
}

.nav .nav__item:hover a {
  opacity: 0.65;
}

.nav .nav__item:active a {
  opacity: 1;
}