:root {
  /* COLORS */
  --color-text: rgb(70, 70, 70);
  
  --color-grey: rgb(71, 70, 67);
  --color-grey-light: rgb(155, 155, 155);
  --color-grey-lighter: rgb(237, 237, 237);
  --color-grey-lightest: rgb(247, 247, 247);
  --color-grey-dark: rgb(34, 38, 62);
  --color-grey-darker: rgb(22, 24, 39);
  --color-off-white: rgb(255, 240, 220);
  
  --color-primary: rgb(255, 222, 0);
  --color-secondary: rgb(66, 63, 56);
  
  --color-action: var(--color-primary);
  --color-info: rgb(85, 175, 195);
  --color-success: rgb(81, 194, 100);
  --color-warning: rgb(228, 157, 51);
  --color-danger: rgb(223, 46, 78);

  /* SPACING */
  --spacing: 1rem;
  --spacing-tiny: calc( var(--spacing) / 4);
  --spacing-small: calc( var(--spacing) / 2);
  --spacing-large: calc( var(--spacing) * 2);
  --spacing-huge: calc( var(--spacing) * 4);

  /* NAVS */
  --nav-item-padding: var(--spacing);
  --nav-item-padding-narrow: var(--spacing-small);
  --nav-item-border: 2px;

  /* TYPOGRAPHY */
 
  --main-font: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  --base-font-family: var(--main-font);

  --base-font-color: var(--color-text);
 
  /* Font Sizes */
  --base-font-size: 16px;
  --font-size-small: .875em;
  --font-size-smaller: .775em;
  --font-size-tiny: .625em;
 
  /* Line height */
  --base-line-height: 1.5;
  --heading-line-height: 1.2;
  
  /* BORDERS */
 
  --base-border-radius: 5px;
  --base-border-color: var(--color-grey-lighter);
  --base-border-width: 1px;
  --base-border: var(--base-border-width) solid var(--base-border-color);
 
  /* SHADOWS */

  --base-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
  --base-shadow-large: 0 4px 10px 0 rgba(0,0,0,.25);
  --base-shadow-huge: 0 8px 20px -5px rgba(0, 0, 0, .15);

  /* BUTTONS */

  --btn-padding : calc( var(--spacing) / 2);
  --btn-padding--small : calc( var(--btn-padding) / 2);
  --btn-padding--tiny : calc( var(--btn-padding--small) / 2);
  --btn-padding--large : calc( var(--btn-padding) * 2);
  --btn-background : var(--color-primary);
  --btn-color : white;
  --btn-radius : var(--base-border-radius);

}