.flex {
  display: flex !important;
}

.flex--inline {
  display: inline-flex;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--column {
  flex-direction: column;
}

.flex--start {
  align-items: flex-start;
}

.flex--center {
  align-items: center;
}

.flex--end {
  align-items: flex-end;
}

.flex--space-around {
  justify-content: space-around;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--justify-end {
  justify-content: flex-end
}

.flex--none {
  flex: none;
}

.flex--self-start {
  align-self: flex-start;
}

.flex--self-center {
  align-self: center;
}

.flex--self-end {
  align-self: flex-end;
}

.flex-justify-self-center {
  justify-self: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 0;
}
